[Unit]
Description=OpenBMC ipKVM daemon
ConditionPathIsMountPoint=/sys/kernel/config

[Service]
Restart=always
ExecStartPre=/usr/bin/create_usbhid.sh disconnect
ExecStart=/usr/bin/obmc-ikvm -v /dev/video0 -k /dev/hidg0 -p /dev/hidg1 -f 15 -s 1 -m 2 -c

[Install]
WantedBy=multi-user.target
